body{background-color: #9EDDA0;}
h1{font-family: Arial;font size: 35px; color: #A00CF0;}
p{font-family: Garamond;font-size: 15px;color: #A00CF0;}
img{border-style: dotted;border-width: 5px;border-color: #A00CF0;padding: 4px;